In [387]:
import requests

url = "https://www.bcg.com/publications/2022/the-impact-of-secondhand-market-on-fashion-retailers"
response = requests.get(url)
response

In [388]:
response.headers # Response headers (as a Python dictionary)

{'Content-Security-Policy': "frame-ancestors 'none';", 'Content-Type': 'text/html;charset=UTF-8', 'Server': 'N/A', 'Strict-Transport-Security': 'max-age=31536000', 'Vary': 'Accept-Encoding', 'X-Content-Type-Options': 'nosniff', 'X-Powered-By': 'Brightspot', 'X-XSS-Protection': '1', 'X-Akamai-Transformed': '9 - 0 pmb=mTOE,3', 'Content-Encoding': 'gzip', 'Date': 'Mon, 14 Oct 2024 11:52:26 GMT', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive, Transfer-Encoding', 'Set-Cookie': 'BCG-GEO=Country=FR&Continent=EU; path=/; secure, akaalb_ALB_www=~op=ALB_beta:Beta_Europe|~rv=75~m=Beta_Europe:0|~os=99426c3199c2b5e7edf93918d715c120~id=cc491827b8bce5511fdf47ac99f8863b; path=/; HttpOnly; Secure; SameSite=None, ak_cdataval=b3127ba98db243af89a6af8a916f606a; path=/; domain=.www.bcg.com; Secure, _abck=00CD713FACDF8053A28C2F86F7F6062C~-1~YAAQYoHdWAl6Q2uSAQAAvFjfigzz3ZUfg5+PEUuBFcUZqLnK1Wy3UU+5fGl8ZdBM5mncVRZ/7p4mWY7Bl4YgdfH81jYDvSFbn8NuxaUw1eeVWcqfYbachdY11QcI4k1OVYFnvUG5+szcGP0Tfe4zQqOEEUKgJMR7l1SzmRsCYI+SQNkzYu8tKNnMHAoPXs0Yfbe79/9nTTWoPDm4w5ICU2hM4+nLIBagP66V9/ZdL2wISwHom1blJ4gzEP2s6YTT2B7UeBRbMrd0biRjXI34RqZq24hsp5aEufUbrR8DHl4DXcZ7jisx1bV/x0tOyb1JfzFddIOo8V2Z64oiht324BhOD8mnyJQAlkEtow06cZjCC5T5gldKl9pCmK+wFEyPMTcjU7Q/0IunNrtv95iqWKfU5eYZJBU=~-1~-1~-1; Domain=.bcg.com; Path=/; Expires=Tue, 14 Oct 2025 11:52:26 GMT; Max-Age=31536000; Secure, bm_sz=B60DED8C42FD75B3B9292ACD87079E12~YAAQYoHdWAp6Q2uSAQAAvFjfihkfd45bsCvM7NkUmUp1irnXL8NdKj1bmWxreToOMiiIFT7EBuiushFq9i8a06o7u8LVoJi8VHULYjoWkDNdqvd3kRGFirRay+I8jPnTaefYHDHx+Xyuj6gRpTyzSavTPfLM8GUr6I+ZWpCaKRFBZX/0H/2NSlxD9i6JozTbTkovWLtq0G0ff0PyQe7RIs4SksfpA+Cax5ELBk6ruanWkH7d7fT221Zmbyrn5q+a/MORvHftxsbR6J2xtFzIHSFZ7YtSyGQGTcmnXhMlmQh3+LabLS0+socPd08Jny/Z/IngeUvkrCnkk06se1RFvFGOX+W2+yc46e+JSA==~4273203~3686706; Domain=.bcg.com; Path=/; Expires=Mon, 14 Oct 2024 15:52:24 GMT; Max-Age=14398', 'X-Frame-Options': 'SAMEORIGIN', 'Akamai-Cache-Status': 'Miss from child, Miss from parent'}

In [389]:
print(response.headers['Content-Type'])

text/html;charset=UTF-8

In [390]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(response.content, "html.parser")

In [391]:
type(soup)

bs4.BeautifulSoup

In [392]:
soup.find("title")

In [393]:
soup.find_all("title")

In [394]:
print(response.status_code)

200

In [452]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.bucherer.com/fr/en/buy-certifiedpreowned?srule=Ranking+by+Category+Position&start=0&sz=72'

# Send a request to the website
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Parse the HTML content
    soup = BeautifulSoup(response.content, 'html.parser')

    # Find each individual product tile
    product_tiles = soup.find_all('div', class_='m-product-tile')

    # Lists to store extracted data
    brands = []
    models = []
    prices = []
    availabilities = []
    special_editions = []

    # Extract desired information from each product tile
    for product in product_tiles:
        # Extract brand, model, and price for each product
        info_inner = product.find('div', class_='m-product-tile__info-inner')
        if info_inner:
            brand = info_inner.find('span', class_='m-product-tile__product-brand').text.strip()
            model = info_inner.find('span', class_='m-product-tile__product-model').text.strip()
            price = info_inner.find('span', class_='sales m-product-price__total').text.strip()

            # Find availability status
            availability_div = info_inner.find_next_sibling('div', class_='m-product-tile__availability')
            availability = availability_div.find('span', class_='m-product-tile__availability-label').text.strip() if availability_div else 'Unavailable'

            # Find special edition label within the product tile
            special_label_div = product.find('div', class_='m-product-tile__label')
            special_label = special_label_div.find('span', class_='m-product-tile__label-text').text.strip() if special_label_div else 'Not Special Edition'

            # Append found data to lists
            brands.append(brand)
            models.append(model)
            prices.append(price)
            availabilities.append(availability)
            special_editions.append(special_label)

    # Create a DataFrame
    data = {'Brand': brands, 'Model': models, 'Price': prices, 'Availability': availabilities, 'Special Edition': special_editions}
    df = pd.DataFrame(data)
    print(df)
else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

               Brand                                        Model     Price  \
0             Zenith            Chronomaster  Certified Pre-Owned  15 100 €
1            Chopard                  L.U.C.  Certified Pre-Owned  13 800 €
2            Chopard             Happy Sport  Certified Pre-Owned  20 700 €
3          Blancpain           Fifty Fathoms  Certified Pre-Owned  11 400 €
4   Girard-Perregaux                    1966  Certified Pre-Owned   8 800 €
..               ...                                          ...       ...
65           Breguet                Héritage  Certified Pre Owned  29 700 €
66           Breguet               Type XXII  Certified Pre-Owned  10 500 €
67  IWC Schaffhausen      Ingenieur Ingenieur Certified Pre-Owned  35 000 €
68  IWC Schaffhausen                   Pilot  Certified Pre-Owned  11 200 €
69           Cartier  Ballon Bleu de Cartier  Certified Pre-Owned  18 000 €

   Availability      Special Edition
0      In Stock  Not Special Edition
1      In Stock  Not Special Edition
2      In Stock  Not Special Edition
3      In Stock  Not Special Edition
4      In Stock  Not Special Edition
..          ...                  ...
65     In Stock  Not Special Edition
66     In Stock      Special Edition
67     In Stock  Not Special Edition
68     In Stock  Not Special Edition
69     In Stock  Not Special Edition

[70 rows x 5 columns]

In [454]:
df

,Brand,Model,Price,Availability,Special Edition
0,Zenith,Chronomaster Certified Pre-Owned,15 100 €,In Stock,Not Special Edition
1,Chopard,L.U.C. Certified Pre-Owned,13 800 €,In Stock,Not Special Edition
2,Chopard,Happy Sport Certified Pre-Owned,20 700 €,In Stock,Not Special Edition
3,Blancpain,Fifty Fathoms Certified Pre-Owned,11 400 €,In Stock,Not Special Edition
4,Girard-Perregaux,1966 Certified Pre-Owned,8 800 €,In Stock,Not Special Edition
...,...,...,...,...,...
65,Breguet,Héritage Certified Pre Owned,29 700 €,In Stock,Not Special Edition
66,Breguet,Type XXII Certified Pre-Owned,10 500 €,In Stock,Special Edition
67,IWC Schaffhausen,Ingenieur Ingenieur Certified Pre-Owned,35 000 €,In Stock,Not Special Edition
68,IWC Schaffhausen,Pilot Certified Pre-Owned,11 200 €,In Stock,Not Special Edition
69,Cartier,Ballon Bleu de Cartier Certified Pre-Owned,18 000 €,In Stock,Not Special Edition

In [456]:
df['Price'] = df_transformed['Price'].replace({'€': '', ' ': ''}, regex=True).astype(float)
df.head()

,Brand,Model,Price,Availability,Special Edition
0,Zenith,Chronomaster Certified Pre-Owned,13800.0,In Stock,Not Special Edition
1,Chopard,L.U.C. Certified Pre-Owned,20700.0,In Stock,Not Special Edition
2,Chopard,Happy Sport Certified Pre-Owned,15100.0,In Stock,Not Special Edition
3,Blancpain,Fifty Fathoms Certified Pre-Owned,11400.0,In Stock,Not Special Edition
4,Girard-Perregaux,1966 Certified Pre-Owned,8800.0,In Stock,Not Special Edition

In [471]:
# Check which rows contain "Certified Pre-Owned" or "Certified Pre Owned"
contains_certified = df['Model'].str.contains('Certified Pre-Owned|Certified Pre Owned')

# Create the new columns using a conditional split
df['Model_Name'] = df['Model'].where(~contains_certified, df['Model'].str.split('Certified Pre-Owned|Certified Pre Owned', expand=True)[0])

# Create the 'Certified_Pre_Owned' column based on the condition
df['Certified_Pre_Owned'] = df['Model'].apply(lambda x: 'Certified Pre-Owned' if 'Certified Pre-Owned' in x or 'Certified Pre Owned' in x else '')

# Clean up by removing unnecessary whitespace
df['Model_Name'] = df['Model_Name'].str.strip()

In [473]:
df

,Brand,Model,Price,Availability,Special Edition,Model_Name,Certified_Pre_Owned
0,Zenith,Chronomaster Certified Pre-Owned,13800.0,In Stock,Not Special Edition,Chronomaster,Certified Pre-Owned
1,Chopard,L.U.C. Certified Pre-Owned,20700.0,In Stock,Not Special Edition,L.U.C.,Certified Pre-Owned
2,Chopard,Happy Sport Certified Pre-Owned,15100.0,In Stock,Not Special Edition,Happy Sport,Certified Pre-Owned
3,Blancpain,Fifty Fathoms Certified Pre-Owned,11400.0,In Stock,Not Special Edition,Fifty Fathoms,Certified Pre-Owned
4,Girard-Perregaux,1966 Certified Pre-Owned,8800.0,In Stock,Not Special Edition,1966,Certified Pre-Owned
...,...,...,...,...,...,...,...
65,Breguet,Héritage Certified Pre Owned,29700.0,In Stock,Not Special Edition,Héritage,Certified Pre-Owned
66,Breguet,Type XXII Certified Pre-Owned,10500.0,In Stock,Special Edition,Type XXII,Certified Pre-Owned
67,IWC Schaffhausen,Ingenieur Ingenieur Certified Pre-Owned,35000.0,In Stock,Not Special Edition,Ingenieur Ingenieur,Certified Pre-Owned
68,IWC Schaffhausen,Pilot Certified Pre-Owned,11200.0,In Stock,Not Special Edition,Pilot,Certified Pre-Owned
69,Cartier,Ballon Bleu de Cartier Certified Pre-Owned,18000.0,In Stock,Not Special Edition,Ballon Bleu de Cartier,Certified Pre-Owned

In [475]:
df.to_csv('watches_website_api.csv', index=False)

In [448]:
# Remove non-numeric characters and convert to float
df['Price'] = df_transformed['Price'].replace({'€': '', ' ': ''}, regex=True).astype(float)
df.head()

,Brand,Model,Price,Availability_ID,Special_Edition_ID,Model_Name,Certified_Pre_Owned_ID
0,Zenith,Chronomaster Certified Pre-Owned,13800.0,1,0,Chronomaster,1
1,Chopard,L.U.C. Certified Pre-Owned,20700.0,1,0,L.U.C.,1
2,Chopard,Happy Sport Certified Pre-Owned,15100.0,1,0,Happy Sport,1
3,Blancpain,Fifty Fathoms Certified Pre-Owned,11400.0,1,0,Fifty Fathoms,1
4,Girard-Perregaux,1966 Certified Pre-Owned,8800.0,1,0,1966,1

In [400]:
df.to_csv('watches_website_api.csv', index=False)

In [401]:
import numpy as np

# Create a copy of the original DataFrame
df_transformed = df.copy()

# Transform the 'Certified_Pre_Owned' column
df_transformed['Certified_Pre_Owned'] = np.where(df_transformed['Certified_Pre_Owned'] == 'Certified Pre-Owned', 1, 0)

# Transform the 'Special Edition' column
df_transformed['Special Edition'] = np.where(df_transformed['Special Edition'] == 'Special Edition', 1, 0)

# Transform the 'Availability' column
df_transformed['Availability'] = np.where(df_transformed['Availability'] == 'In Stock', 1, 0)

In [402]:
df_transformed

,Brand,Model,Price,Availability,Special Edition,Model_Name,Certified_Pre_Owned
0,Zenith,Chronomaster Certified Pre-Owned,13800.0,1,0,Chronomaster,1
1,Chopard,L.U.C. Certified Pre-Owned,20700.0,1,0,L.U.C.,1
2,Chopard,Happy Sport Certified Pre-Owned,15100.0,1,0,Happy Sport,1
3,Blancpain,Fifty Fathoms Certified Pre-Owned,11400.0,1,0,Fifty Fathoms,1
4,Girard-Perregaux,1966 Certified Pre-Owned,8800.0,1,0,1966,1
...,...,...,...,...,...,...,...
65,Breguet,Héritage Certified Pre Owned,29700.0,1,0,Héritage Certified Pre Owned,0
66,Breguet,Type XXII Certified Pre-Owned,10500.0,1,1,Type XXII,1
67,IWC Schaffhausen,Ingenieur Ingenieur Certified Pre-Owned,35000.0,1,0,Ingenieur Ingenieur,1
68,IWC Schaffhausen,Pilot Certified Pre-Owned,11200.0,1,0,Pilot,1
69,Cartier,Ballon Bleu de Cartier Certified Pre-Owned,18000.0,1,0,Ballon Bleu de Cartier,1

In [403]:
df_transformed = df_transformed.rename(columns={
    'Availability': 'Availability_ID',
    'Special Edition': 'Special_Edition_ID',
    'Certified_Pre_Owned': 'Certified_Pre_Owned_ID'
    # Adjust further if necessary
})

In [404]:
df_transformed

,Brand,Model,Price,Availability_ID,Special_Edition_ID,Model_Name,Certified_Pre_Owned_ID
0,Zenith,Chronomaster Certified Pre-Owned,13800.0,1,0,Chronomaster,1
1,Chopard,L.U.C. Certified Pre-Owned,20700.0,1,0,L.U.C.,1
2,Chopard,Happy Sport Certified Pre-Owned,15100.0,1,0,Happy Sport,1
3,Blancpain,Fifty Fathoms Certified Pre-Owned,11400.0,1,0,Fifty Fathoms,1
4,Girard-Perregaux,1966 Certified Pre-Owned,8800.0,1,0,1966,1
...,...,...,...,...,...,...,...
65,Breguet,Héritage Certified Pre Owned,29700.0,1,0,Héritage Certified Pre Owned,0
66,Breguet,Type XXII Certified Pre-Owned,10500.0,1,1,Type XXII,1
67,IWC Schaffhausen,Ingenieur Ingenieur Certified Pre-Owned,35000.0,1,0,Ingenieur Ingenieur,1
68,IWC Schaffhausen,Pilot Certified Pre-Owned,11200.0,1,0,Pilot,1
69,Cartier,Ballon Bleu de Cartier Certified Pre-Owned,18000.0,1,0,Ballon Bleu de Cartier,1

In [405]:
df_transformed.dtypes

Brand                      object
Model                      object
Price                     float64
Availability_ID             int64
Special_Edition_ID          int64
Model_Name                 object
Certified_Pre_Owned_ID      int64
dtype: object

In [406]:
# Remove non-numeric characters and convert to float
df_transformed['Price'] = df_transformed['Price'].replace({'€': '', ' ': ''}, regex=True).astype(float)

# Verify the conversion
print(df_transformed['Price'].head())

0    13800.0
1    20700.0
2    15100.0
3    11400.0
4     8800.0
Name: Price, dtype: float64

In [407]:
df_transformed

,Brand,Model,Price,Availability_ID,Special_Edition_ID,Model_Name,Certified_Pre_Owned_ID
0,Zenith,Chronomaster Certified Pre-Owned,13800.0,1,0,Chronomaster,1
1,Chopard,L.U.C. Certified Pre-Owned,20700.0,1,0,L.U.C.,1
2,Chopard,Happy Sport Certified Pre-Owned,15100.0,1,0,Happy Sport,1
3,Blancpain,Fifty Fathoms Certified Pre-Owned,11400.0,1,0,Fifty Fathoms,1
4,Girard-Perregaux,1966 Certified Pre-Owned,8800.0,1,0,1966,1
...,...,...,...,...,...,...,...
65,Breguet,Héritage Certified Pre Owned,29700.0,1,0,Héritage Certified Pre Owned,0
66,Breguet,Type XXII Certified Pre-Owned,10500.0,1,1,Type XXII,1
67,IWC Schaffhausen,Ingenieur Ingenieur Certified Pre-Owned,35000.0,1,0,Ingenieur Ingenieur,1
68,IWC Schaffhausen,Pilot Certified Pre-Owned,11200.0,1,0,Pilot,1
69,Cartier,Ballon Bleu de Cartier Certified Pre-Owned,18000.0,1,0,Ballon Bleu de Cartier,1

In [408]:
df_transformed.to_csv('watches_website_forsql.csv', index=False)

In [409]:
df_transformed.to_csv('cleaned_file.csv', index=False, encoding='utf-8')

In [410]:
import pandas as pd

# Read the CSV with UTF-8 encoding
df = pd.read_csv('cleaned_file.csv', encoding='utf-8')

# Ensure the DataFrame is properly loaded
print(df.head())

              Brand                               Model    Price  \
0            Zenith   Chronomaster  Certified Pre-Owned  13800.0
1           Chopard         L.U.C.  Certified Pre-Owned  20700.0
2           Chopard    Happy Sport  Certified Pre-Owned  15100.0
3         Blancpain  Fifty Fathoms  Certified Pre-Owned  11400.0
4  Girard-Perregaux           1966  Certified Pre-Owned   8800.0

   Availability_ID  Special_Edition_ID     Model_Name  Certified_Pre_Owned_ID
0                1                   0   Chronomaster                       1
1                1                   0         L.U.C.                       1
2                1                   0    Happy Sport                       1
3                1                   0  Fifty Fathoms                       1
4                1                   0           1966                       1

In [411]:
import pandas as pd

# Read using UTF-8
df_transformed = pd.read_csv('cleaned_file.csv', encoding='utf-8')

# Save back as UTF-8
df_transformed.to_csv('cleaned_file_utf8.csv', index=False, encoding='utf-8')

In [412]:
import pandas as pd
from sqlalchemy import create_engine

# Connection string to the MySQL database
engine = create_engine('mysql+pymysql://root:Ironhack2024@localhost:3306/watches_website')

# Read and process the large CSV file in chunks
chunk_size = 10000  # Number of rows per chunk
csv_file = 'cleaned_file_utf8.csv'

for chunk in pd.read_csv(csv_file, chunksize=chunk_size, encoding='utf-8'):
    chunk = chunk.applymap(lambda x: ''.join(char for char in str(x) if ord(char) < 128))
    chunk.to_sql('Watches', con=engine, if_exists='append', index=False)
    print(f"Processed a chunk of {chunk_size} rows.")

print("DataFrame successfully written to SQL.")

Processed a chunk of 10000 rows.
DataFrame successfully written to SQL.

/var/folders/m0/_0k_jj7j231cxr746m3qlspm0000gn/T/ipykernel_86913/1867020341.py:12: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  chunk = chunk.applymap(lambda x: ''.join(char for char in str(x) if ord(char) < 128))

In [413]:
url = "https://www.bcg.com/publications/2022/the-impact-of-secondhand-market-on-fashion-retailers"
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')

# Find the image element with specific attributes
# Use the `data-focal-point` or appropriate attributes to identify it
img_element = soup.find('img', {
    'data-focal-point': "center center",
    'itemprop': "image",
    'src': "https://web-assets.bcg.com/dims4/default/edbce40/2147483647/strip/true/crop/2480x1298+0+0/resize/320x167!/format/webp/quality/90/?url=http%3A%2F%2Fboston-consulting-group-brightspot.s3.amazonaws.com%2F28%2F71%2Ff0b3b3cb4138bad67f56e1c2afd9%2Fmsp-vestiaire-slideshow-220929-02.png"
})

if img_element:
    img_url = img_element.get('src')
    print("Image URL:", img_url)
else:
    print("Image not found.")

Image URL: https://web-assets.bcg.com/dims4/default/edbce40/2147483647/strip/true/crop/2480x1298+0+0/resize/320x167!/format/webp/quality/90/?url=http%3A%2F%2Fboston-consulting-group-brightspot.s3.amazonaws.com%2F28%2F71%2Ff0b3b3cb4138bad67f56e1c2afd9%2Fmsp-vestiaire-slideshow-220929-02.png

In [414]:
url = "https://www.bcg.com/publications/2022/the-impact-of-secondhand-market-on-fashion-retailers"
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')

# Find the image element with specific attributes
# Use the `data-focal-point` or appropriate attributes to identify it
img_element = soup.find('img', {
    'data-focal-point': "center center",
    'itemprop': "image",
    'src': "https://web-assets.bcg.com/dims4/default/f3ccfaa/2147483647/strip/true/crop/2480x1298+0+0/resize/320x167!/format/webp/quality/90/?url=http%3A%2F%2Fboston-consulting-group-brightspot.s3.amazonaws.com%2F8b%2F79%2F818172fb4cc1afacee17b3b960e8%2Fmsp-vestiaire-slideshow-220929-06.png"
})

if img_element:
    img_url = img_element.get('src')
    print("Image URL:", img_url)
else:
    print("Image not found.")

Image URL: https://web-assets.bcg.com/dims4/default/f3ccfaa/2147483647/strip/true/crop/2480x1298+0+0/resize/320x167!/format/webp/quality/90/?url=http%3A%2F%2Fboston-consulting-group-brightspot.s3.amazonaws.com%2F8b%2F79%2F818172fb4cc1afacee17b3b960e8%2Fmsp-vestiaire-slideshow-220929-06.png

In [415]:
url = "https://www.bcg.com/publications/2023/luxury-watch-market-trends#:~:text=Preowned%20watch%20sales%20reached%20%2422,trend%20is%20likely%20to%20continue."
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')

# Find the image element with specific attributes
# Use the `data-focal-point` or appropriate attributes to identify it
img_element = soup.find('img', {
    'data-focal-point': "center center",
    'itemprop': "image",
    'src': "https://web-assets.bcg.com/dims4/default/8c096e6/2147483647/strip/true/crop/2480x1844+0+0/resize/728x541!/format/webp/quality/90/?url=http%3A%2F%2Fboston-consulting-group-brightspot.s3.amazonaws.com%2Fc1%2F92%2F8b27e03a4018bcee6d1838966028%2Fwatches-the-new-asset-class-watchbox-ex02.png"
})

if img_element:
    img_url = img_element.get('src')
    print("Image URL:", img_url)
else:
    print("Image not found.")

Image URL: https://web-assets.bcg.com/dims4/default/8c096e6/2147483647/strip/true/crop/2480x1844+0+0/resize/728x541!/format/webp/quality/90/?url=http%3A%2F%2Fboston-consulting-group-brightspot.s3.amazonaws.com%2Fc1%2F92%2F8b27e03a4018bcee6d1838966028%2Fwatches-the-new-asset-class-watchbox-ex02.png

In [416]:
df = pd.read_csv('/Users/tovancao/Ironhack/second_hand_luxury_project/cleaned_file.csv')